body {
  line-height: 135%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #0c69e4;
}

h2 {
  color: #6e00ff;
  font-size: 29px;
  margin-bottom: 40px;
}

p,
label {
  color: black;
  font-size: 18px;
  line-height: 1.6em;
  display: block;
  margin-bottom: 14px;
}

form {
  width: 100%;
}

input {
  display: block;
  background-color: #f2f2f2;
  border: 1px solid #e0e0e0;
  height: 40px;
  width: 100%;
  margin-bottom: 14px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  color: black;
}

input[type="submit"] {
  background-color: #0c69e4;
  color: white;
  border: 1px solid #0c69e4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  height: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 126.5px;
  height: 46px;
  background-image: url(/static/wrgl-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.oauth2 {
  margin-left: 4px;
  color: #6e00ff;
  font-size: 28px;
}

.content {
  margin-top: 112px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
}

.error {
  color: #ea1f1f;
}
